.bubble-with-context {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.attached-context-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.attached-context {
  color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(0 144 255/0.1) !important;
  padding: var(--bpSpacing-1) var(--bpSpacing-2);
  margin-top: var(--bpSpacing-2);
  margin-right: 2px;
  border-radius: calc(var(--bpRadius-scale) * var(--bpRadius-md));
}

.attached-context-title {
  display: inline-flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: 600;
  gap: 5px;
}

.attached-context svg {
  flex-shrink: 0;
}

.attached-context-link {
  color: var(--bpPrimary-600) !important;
  text-decoration: none;
  word-break: normal;
  overflow-wrap: break-word;
}

.attached-context-link:hover {
  opacity: 0.9;
}
